html, body {
    background-color: transparent;
/*    background-image: url('../images/index_background.png');*/
/*    background-size: 125% 100%;  or contain depending on what you want */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

main {
  background-color: transparent;
  margin: 25px;
}

.button-container {
  margin: 15px 0 15px 0;
}

button.button-theme {
  box-shadow: 0 1px 4px #2C2F3D;
  height: 50px;
  margin: auto;
  width: 60%;
}

#login {
    background-color: #398D36; 
}

#signup {
    background-color: white; /*change to fit branding*/
  color: #398D36;
}

.title {
  margin: 5% 0 5% 0;
}

.logo-component {
}

#logo {
  height: 118px;
  width: 190px;
}

#logo-alt {
  height: 244px;
  width: 500px;
}
