html, body {
  font-family: 'Roboto';
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  cursor: pointer; /* For mobile touch */
}

main {
  margin-top: -20px; /* putting content up against header*/
}

.landing-page-wrapper {
/*  background-color: #81C784;*/
}

.login-logo-component {
      width: 100%;
}
.title {
  width: 100%;
}

#logo-alt {
  height: 244px;
  width: 500px;
  align-content: center;
}




.wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 10% 0 10%;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 22px;
}

.light-font {
  font-weight: 300;
}

.page-title {
  margin: 10px 0 10px 0;
}

.page-title > p {
  font-weight: 300;
}

#home-title {
  background-color: #1D1F29;
  width: 100%;
  padding-bottom: 5px;
}

.page-content {
  margin: 20px 0 40px 200px;
}

.green {
  background-color: #5ACBAD;
}

.green-font {
  color: #5ACBAD;
}

.purple {
  background-color: #727DF0;
}

.purple-font {
  color: #727DF0;
}

.light-gray-font {
  color: #E8EBF2;
}

.medium-gray {
  background-color: #2C2F3D;
}

button.button-theme {
  border-radius: 0;
  color: #E8EBF2;
  font-size: 26px;
  height: 70px;
  z-index: 100;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-padding {
  height: 100px;
  background-color: #1D1F29;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
}


/*
Form & Signup
*/

.login-form-container {
  width: 100%;
}

form, .form-control {
  font-size: 16px;
}

label {
  color: #CCC;
  font-weight: 400;
}


.form-control {
  background-color: transparent;
  border-radius: 0;
  color: black;
}

.form-control:focus {
  border-color: #5ACBAD;
}

.member {
  border-top: 1px solid #1D1F29;
  padding: 10px 0 10px 0;
}

#other-viewers.row {
  margin: 0;
}

.other-viewer {
  border: 1px solid #CCC;
  margin-bottom: 10px;
}

.other-viewer-title {
  display: inline-block;
}

.remove-other-viewer {
  margin-top: 10px;
}

.x-icon {
  font-size: 18px;
  float: right;
}

#add-member {
  height: 60px;
  width: 60px;
  float: right;
  margin-bottom: -30px;
  position: relative;
  z-index: 10;
}

.success-img {
  margin: 20% 0 20% 0;
  width: 70%;
}

.tile {
  border: 2px solid #1D1F29;
  height: 150px;
}

.tile-content {
  margin-top: 40px;
}

.tile-icon {
  height: 30px;
}

.radio-group {
  margin-top: 10px;
}

#search-btn {
  border-radius: 0;
  color: #E8EBF2;
}

#content-results {
  margin-top: 20px;
}

.search-bar {
  margin-top: 20px;
}

.checkbox label {
  font-weight: 300;
}

input[type=checkbox] {
  margin-top: 2px;
}

#tooltip {
  background-color: #1D1F29;
  border: 2px solid #E8EBF2;
  padding: 10px;
  width: 120px;
  position: absolute;
  z-index: 100;
}

#watch-modal {
  background-color: #1D1F29;
  border: 2px solid #E8EBF2;
  padding: 10px;
  width: 275px;
  position: absolute;
  z-index: 100;
}

button.modal-btn {
  background-color: #1D1F29;
  border-radius: 0;
  border: none;
  font-size: 24px;
  margin: 0 20px 10px 20px;
}

button.modal-btn {
  background-color: #1D1F29;
  border-radius: 0;
  border: none;
  font-size: 24px;
  margin: 0 20px 10px 20px;
}

button.modal-btn:focus, button.modal-btn:active, button.modal-btn:hover {
  background-color: #2C2F3D;
  border: 1px solid #E8EBF2;
  color: #E8EBF2;
}

.bank-buttons-container {
  margin: 15px 15px 15px 15px;
}


/*messy styles- need to be reorganized!*/

/*in signup-bank-login.html*/

.signup-personalInfo-form {
  width: 45%;
  margin-left: 15px;
  display: inline-block;
}

.signup-address-form {
  width: 45%;
  margin-right: 15px;
  float: right;
  
}


/*kid cards styles*/
.card-group {
  margin: 200px 30px 30px 30px;
  display: inline-flex;
  justify-content: center;
  width: 90%;
}

.kid-card {
  display: inline-block;
  margin: 20px 35px 20px 35px;
  padding: 10px;
  background-color: #A5D6A7;
/*  outline: #F4D790 solid 1px;*/
}

.card-img-top {
  width: 100px;
  height: 100px;
  margin-left: 20%;
}
.card-block {
  text-align: center;
}

.card-text {
/*  make it bigger bc this is the account balance*/
}

.transaction-item {
  background: none;
  border: 0px;
  border-top: solid 1px white;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.fa-lock {
    position: absolute;
    float: right;
    margin-right: 0px;
    margin-left: 15px;
    margin-top: -45px;
}
.fa-unlock {
    position: absolute;
    float: right;
    margin-right: 0px;
    margin-left: 30px;
}


.transfer-button {
  border-radius: 0;
  background-color: #388E3C;
  color: white;
  font-weight: ;
  height: 40px;
  z-index: 100;
}

.quick-transfer-button-input {
    border-radius: 0;
    color: black;
    width: 100%;
    margin-bottom: 10px;
}
